extends layout/app

block page
  include chunk/header

  main.main
    h1.title Мы принимаем на переработку 

    .buy.container
      .buy-box
        img.buy-box__img(src="img/buy-1.png", alt="alt")
        p.buy-box__text Отходы стрейч пленки прессованные, россыпью
      .buy-box
        img.buy-box__img(src="img/buy-2.png", alt="alt")
        p.buy-box__text Чистые сухие втулки, без сколов и повреждений
      .buy-box
        img.buy-box__img(src="img/buy-3.png", alt="alt")
        p.buy-box__text Отходы ПВД пленки прессованные, россыпью

  include chunk/footer