extends layout/app

block page
  include chunk/header

  main.main.container
    .single-product
      .single-product__photo
        img(src="img/termo.png", alt="alt")
      .single-product__content
        .single-product__content-titles
          h1.single-product__content-title Термоусадочная пленка
        .single-product__content-texts
          p.single-product__content-text Под заказ: любая ширина и толщина

    h2.title Похожие товары
    div.product__items
      a.product__item(href="pnd.html") 
        img.product__item-image(src="img/pnd.png", alt="alt")
        h3.product__item-title Пленка ПНД
        p.product__item-text 
      a.product__item(href="pvd.html")  
        img.product__item-image(src="img/pvd.png", alt="alt")
        h3.product__item-title Пленка ПВД
        p.product__item-text 
      a.product__item(href="bubble.html")
        img.product__item-image(src="img/bubble.png", alt="alt")
        h3.product__item-title Воздушно пузырчатая пленка
        p.product__item-text 

  include chunk/footer