footer.footer
  div.center
    p © 2021  ООО "ТД ПромПак"
    p Производство и продажа упаковочных материалов

script(src="https://code.jquery.com/jquery-3.6.0.min.js")
script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
script(type="text/javascript" src="js/main.js")