header.header.index
  .menu-btn
      span 
      span 
      span
  .header-top.menu
    nav.header-top__nav.container 
      ul.header-top__nav-items
        li.header-top__nav-item
          a.header-top__nav-link(href="index.html") Главная
        li.header-top__nav-item
          a.header-top__nav-link(href="catalog.html") Каталог
        li.header-top__nav-item
          a.header-top__nav-link(href="buy.html") Переработка
        li.header-top__nav-item
          a.header-top__nav-link(href="production.html") Производство
        li.header-top__nav-item  
          a.header-top__nav-link(href="contact.html") Контакты
  .header-bottom.container
      .header-bottom__logo
        img.header-bottom__logo-img(src="img/logo.png", alt="logo")
      .header-bottom__items
        .header-bottom__item
          .header-bottom__item-img
            img(src="img/phone-call.svg", alt="alt")
          .header-bottom__item-content
            p.header-bottom__item-title Офис
            p.header-bottom__item-text 8 (812) 374-51-24
        .header-bottom__item
          .header-bottom__item-img
            img(src="img/phone.svg", alt="alt")
          .header-bottom__item-content
            p.header-bottom__item-title Директор по продажам
            a.header-bottom__item-text(href="tel:89117153839") 8 911 715 38 39  
        .header-bottom__item
          .header-bottom__item-img
            img(src="img/map-pin.svg", alt="alt")
          .header-bottom__item-content
            p г.Санкт-Петербург,
            p ул. Малая Разночинная, д.9
            //- p офис 406
//- .header__logo-mini
//-   img(src="img/logo.png", alt="logo")